<h1>Muscle Building Workout</h1>

<h2>Day 1</h2>

<ul>
  {{#each mscl}}
    <p> Exercise Name: {{this.ex_name}} Body Part: {{this.body_part}} Intervals: {{this.intervals}}  Completed? {{this.completed}}</p>
  {{/each}}
</ul>


