*{
  text-align: center;
  font-family: 'Exo 2', sans-serif;  
}

body {
  background-image: url("../images/barbells.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

/* p{
  text-shadow:
  -0.25px -0.25px 0 rgb(255, 255, 255),
  0.25px -0.25px 0 rgb(255, 255, 255),
  -0.25px 0.25px 0 rgb(255, 255, 255),
  0.25px 0.25px 0 rgb(255, 255, 255);
} */

.display-4{
  font-family: 'Permanent Marker', cursive;
  font-size: 600px;
}

/* #footer {
background-color: antiquewhite;
width: auto;
} */

#images{
  margin-bottom: 5px;
}

.card-header{
  background-color: rgb(238, 240, 241);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  background-color: rgb(238, 240, 241);
  color: black;
  text-align: center;
}


/* .list-group-item {
  line-height: 2.5;
} */



/* font-family: 'Pacifico', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive;  */
